.deco-modal {
    width: 368.107px;
    height: 530px;
    z-index: 999;
    position: relative;
    top: calc(100vh * 0.1 - 566px);
    margin-left: calc(390px * 0.05 * 0.6);
    background-image: url("../img/whitedoor.png");
    background-size: cover;
    background-repeat: none;
}