.login-content {
  background-color: #ffffff;
  border-radius: 200px 200px 0 0;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  margin-top: 20px;
  position: fixed;
  bottom: 0;

  /* width: 300px; */
  width: 95%;
  /* height: 100vh; */
  height: calc(83vh - 45px);
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  .login-content {
    width: calc(390px * 0.95);
  }
}

.login-title {
  width: 30vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 20px 0px; */

  padding-bottom: 15vh;
  margin-top: -35vh;
}

.name,
.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  /* width: 83px; */
  width: 50%;
  box-sizing: border-box;
  background-color: #a31b1f;
  border-radius: 30px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 20px;
  margin: 20px 0px;
  text-align: center;
}

.password label {
  margin-top: 70px;
}

.blank {
  width: 80%;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.name .blank,
.password .blank {
  font-family: "Pretendard-Regular";
  padding-bottom: 5px;
}

.login-content button {
  font-family: "Pretendard-Regular";
  width: 83px;
  box-sizing: border-box;
  background-color: #002b5b;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 20px;
  margin: 70px 0px 10px 0px;
  text-align: center;
  border: none;
  cursor: pointer;
}
