.start-page {
  background-color: #77514e;
  width: 100vw;
  height: 100vh;
  min-height: 844px;
}

.page-bg {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 844px;
  display: flex;
  justify-content: center;
}

.center {
  width: 100vw;
  height: 100vh;
  min-height: 844px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
}

@media (hover: hover) {
  .center {
    width: 390px;
  }
}

.login-content {
  background-image: url("../img/whitedoor_main.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  width: 180vw;
  height: 100vh;
  margin-top: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 30vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

.name,
.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  width: 83px;
  box-sizing: border-box;
  background-color: #a31b1f;
  border-radius: 30px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 20px;
  margin: 20px 0px 18px 0px;
  text-align: center;
}

.password label {
  margin-top: 50px;
}

.blank {
  width: 80%;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.login-content button {
  width: 83px;
  box-sizing: border-box;
  background-color: #002b5b;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 20px;
  margin: 50px 0px 10px 0px;
  text-align: center;
  border: none;
  cursor: pointer;
}
