.Header {
  width: 100vw;
  height: 39px;
}

@media (hover: hover) {
  .Header {
    width: 390px;
  }
}

.hd-img {
  display: flex;
  justify-content: space-between;

  margin: 10px;
}

.hd-img {
  height: 34px;
}

.hd-p {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 7vh;
}

.setting-ticket {
  display: flex;
  align-items: center;
}

.ticket-box {
  width: calc(25vw - 30px);
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #a31b1f;
  border-radius: 30px;

  padding: 0 15px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;

  margin-left: 10px;
}

@media (hover: hover) {
  .ticket-box {
    width: calc(112px - 30px);
  }
}

.ticket-img img {
  height: 45px;
}

.ticket-box p {
  margin-right: 10px;
}
