.Header {
  width: 100vw;
  height: 39px;
}

@media (hover: hover) {
  .Header {
    width: 390px;
  }
}

.hd-img {
  display: flex;
  justify-content: space-between;

  margin: 10px;
}

.hd-img {
  height: 34px;
}
