@import url("https://fonts.googleapis.com/css2?family=Praise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap");

.main-page {
  background-color: #465c38;
  width: 100vw;
  height: 100vh;
  min-height: 844px;
}

.main-hd-center {
  display: flex;
  justify-content: center;
}

.today-date {
  display: flex;
  justify-content: center;
  font-family: "Praise", cursive;
  font-size: 80px;
  color: #1e5000;
  /* border: 4px solid #ffad00; */
  /* -webkit-text-stroke: 2px #ffad00; */
  text-shadow: calc(4px * 1) calc(4px * 0) 0 #ffad00, calc(4px * 0.9239) calc(4px * 0.3827) 0 #ffad00, calc(4px * 0.7071) calc(4px * 0.7071) 0 #ffad00, calc(4px * 0.3827) calc(4px * 0.9239) 0 #ffad00, calc(4px * 0) calc(4px * 1) 0 #ffad00, calc(4px * -0.3827) calc(4px * 0.9239) 0 #ffad00, calc(4px * -0.7071) calc(4px * 0.7071) 0 #ffad00, calc(4px * -0.9239) calc(4px * 0.3827) 0 #ffad00, calc(4px * -1) calc(4px * 0) 0 #ffad00, calc(4px * -0.9239) calc(4px * -0.3827) 0 #ffad00, calc(4px * -0.7071) calc(4px * -0.7071) 0 #ffad00, calc(4px * -0.3827) calc(4px * -0.9239) 0 #ffad00, calc(4px * 0) calc(4px * -1) 0 #ffad00, calc(4px * 0.3827) calc(4px * -0.9239) 0 #ffad00, calc(4px * 0.7071) calc(4px * -0.7071) 0 #ffad00, calc(4px * 0.9239) calc(4px * -0.3827) 0 #ffad00, 0 7px 6px rgb(0, 0, 0, 0.5);
}

.main-calendar-box {
  display: flex;
  justify-content: center;
}

.main-calendar {
  background-image: url("../img/bg_calendar.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  /* height: 660px; */
  width: 98vw;
  height: 78.5vh;
  margin-top: -15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go-tree-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-tree-btn p {
  background-color: #a31b1f;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  font-weight: bold;

  padding: 10px 40px;
}

.boxs {
  margin-right: 1.5px;
  margin-top: 28.8vh;
}

.box {
  display: inline-flex;
  background-image: url("../img/box.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 9.5vh;
  height: 9.5vh;

  justify-content: center;
  align-items: center;
  margin: -0.37vh;
}

.box p {
  font-family: "Alumni Sans Collegiate One", sans-serif;
  color: #301c19;
  font-size: 2.7em;
  padding-top: 0.7vh;
}

.box {
  position: relative;
  overflow: hidden;
}

.box-opened::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5); /* 검은색 배경 필터 색상 및 투명도 조절 */
  pointer-events: none; /* 클릭 이벤트를 비활성화합니다. */
}

@media (width < 430px) {
  .box {
    margin: -0.45vh;
  }

  .boxs {
    margin-top: 28.5vh;
  }
}

@media (width < 421px) {
  .box {
    width: 9.3vh;
    height: 9.3vh;
    margin: -0.42vh;
  }

  .boxs {
    margin-top: 28vh;
  }
}

@media (width < 416px) {
  .box {
    margin: -0.47vh;
  }

  .boxs {
    margin-top: 27.3vh;
  }
}

@media (width < 410px) {
  .box {
    margin: -0.5vh;
  }
  .boxs {
    margin-top: 27.5vh;
  }
}

@media (width < 406px) {
  .box {
    margin: -0.6vh;
  }
  .boxs {
    margin-top: 27vh;
  }
}

@media (width < 401px) {
  .box {
    margin: -0.65vh;
  }
  .boxs {
    margin-top: 26.8vh;
  }
}

@media (width < 391px) {
  .today-date {
    font-size: 4.3em;
  }

  .box {
    width: 9vh;
    height: 9vh;
    margin: -0.56vh;
  }

  .boxs {
    margin-top: 25.8vh;
  }

  .go-tree-btn {
    margin-top: -3vh;
  }
}

@media (width < 381px) {
  .box {
    margin: -0.4vh;
  }
  .boxs {
    margin-top: 27vh;
  }
}

@media (width < 431px) and (height < 933px) {
  .box {
    margin: -0.48vh;
  }

  .boxs {
    margin-top: 28.2vh;
  }
}

@media (width < 391px) and (height < 845px) {
  .box {
    width: 9.5vh;
    height: 9.5vh;
    margin: -0.5vh;
  }

  .boxs {
    margin-top: 28vh;
  }
}

@media (width < 376px) and (height < 636px) {
  .box {
    margin: -0.4vh;
  }

  .boxs {
    margin-top: 28.7vh;
  }
}
