/* Modal.css */
.modal-overlay {
  position: fixed;
  /* position: relative; */
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: none;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content img {
  height: 20vh;
}
