.start-page {
    background-color: #43576D;
    width: 100vw;
    height: 100vh;
    min-height: 844px;
}

.page-bg {
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 844px;
    display: flex;
    justify-content: center;
}

.center {
    width: 100vw;
    height: 100vh;
    min-height: 844px;
    background-color: rgb(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
}

@media (hover: hover) {
    .center {
    width: 390px;
    }
}

.mypage-content {
    background-color: #ffffff;
    border-radius: 200px 200px 0 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    /* position: fixed; */

    width: 300px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
}

.title {
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.profile {
    width: auto;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -10px;
}

.name, .tosend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pay img {
    width: 22px;
    height: 22px;
    padding-left: 5px;
}

.ticket {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ticket img{
    width: 80px;
}

.mypage-content p {
    width: auto;
    box-sizing: border-box;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 20px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    white-space: nowrap;
    overflow: visible;  
}

.name p{
    width: auto;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    text-align: center;
    white-space: nowrap;
    overflow: visible;  
}

.pay p, .tosend p {
    background-color: #1E5000;
}

.blank {
    width: 80%;
    border: none;
    border-bottom: 1px solid #000;
    outline: none; 
    margin-bottom: 5px;
}

.submit p{
    width: 83px;
    box-sizing: border-box;
    border-radius: 0px;
    background-color: #002B5B;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 20px;
    margin: 20px 0px 70px 0px;
    text-align: center;
    border: none;
    cursor: pointer;
}