.white-door-post {
  width: 95%;
  /* height: 80%; */
  /* min-height: 782px; */
  /* position: relative; */
  /* top: calc(100vh * 0.2 - 39px - 10px); */
  position: fixed;
  bottom: 0;

  background-color: #f1f1ef;
  border-radius: 200px 200px 0 0;
  margin-left: calc(390px * 0.05 * 0.5);
}

@media (hover: hover) {
  .white-door-post {
    width: calc(390px * 0.95);
  }
}

.ribbon {
  position: relative;
  /* top: calc(100vh * 0.065); */
  top: 10vh;
  text-align: center;
  margin-bottom: -168px;
  z-index: 100;
  height: 13vh;
}

.post-title {
  color: #002b5b;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 120px;
}

.post-write {
  text-align: center;
  padding-bottom: 20px;
}

textarea {
  width: 75%;
  height: calc(50vh - 10px);
  resize: none;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  padding: 20px;
  vertical-align: top;
  text-align: left;
  border: none;
  background-color: #f1f1ef;
  outline: none;

  margin: 15px 0;
}

input[type="submit"] {
  background-color: #a31b1f;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: "Pretendard-Regular";
  border: none;

  padding: 10px 30px;
}
