
.start-page {
  background-color: #77514e;
  width: 100vw;
  height: 100vh;
  min-height: 844px;
}

.page-bg {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 844px;
  display: flex;
  justify-content: center;
}

.center {
  width: 100vw;
  height: 100vh;
  min-height: 844px;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
}

@media (hover: hover) {
  .center {
    width: 390px;
  }
}

.start-bg {
  background-image: url("../img/tree_main.png") ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  width: 90vw;
  height: 90vh;
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 30vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  padding-bottom: 30px;
}

.login-btn p {
  width: 100%;
  box-sizing: border-box;
  background-color: #a31b1f;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 32px;
  margin-bottom: 15px;
}

.register-btn p {
  width: 100%;
  box-sizing: border-box;
  background-color: #002B5B;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 25px;
  margin-bottom: 10px;
}

.white-door {
  width: 95%;
  height: 85%;
  min-height: 748px;
  position: relative;
  top: calc(100vh * 0.15);

  background-color: #f1f1ef;
  border-radius: 200px 200px 0 0;
  z-index: -1;
}