.tree-page {
  background-color: #c8a357;
  width: 100vw;
  height: 100vh;
  min-height: 844px;
}

.content {
  display: flex;
  flex-direction: column;
}

.tree-header-box {
  display: flex;
  justify-content: center;
}


.receiver {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

.receiver p {
  height: 29px;
  background-color: #002B5B;
  color: white;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
}

.tree-bg-box {
  width: 100%;
}

.tree-bg {
  height: 658px;
  display: flex;
  background-image: url("../img/tree_bg.png");
  background-size: cover;
  background-position: top;

  justify-content: space-between;
  align-items: center;
}

.tree-left-btn {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.tree-right-btn {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.decoration {
  width: 308px;
  height: 100%;
  position: relative;
}

.row-1 {
  width: 42%;
  position: absolute;
  bottom: 387px;
  left: 147px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-2 {
  width: 60%;
  position: absolute;
  bottom: 294px;
  left: 150px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-3 {
  width: 70%;
  position: absolute;
  bottom: 206px;
  left: 150px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-4 {
  width: 88%;
  position: absolute;
  bottom: 112px;
  left: 150px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tree-content {
  position: relative;
}

.send-btn {
  position: absolute;
  bottom: 11px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-btn p {
  background-color: #a31b1f;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 40px;
}